/* .circle {
  width: 80px;
  height: 80px;
  background: rgb(238, 54, 54);
  border-radius: 50%;
} */
:root {
  --shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 6px 7px rgba(0, 0, 0, 0.22);
}
body {
  background: #f5f5f5;
  font-family: "Nunito", sans-serif;
}
.max-wid {
  max-width: 90%;
}
.texts {
  position: absolute;
}

nav {
  height: 100px;
  line-height: 100px;
}
p {
  font-size: 10px;
}
a {
  padding: 30px;
}

.myfab {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  padding: 30px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
}
.blank {
  height: 100vh;
}
.reds {
  border-radius: 50%;
  background: rgb(247, 61, 61);
}
.reds:hover {
  background: rgb(211, 10, 10);
}
.blues {
  border-radius: 50%;
  background: rgb(33, 84, 143);
}
.blues:hover {
  background: rgb(4, 109, 230);
}

.greys {
  border-radius: 50%;
  background: #333;
}
.stickyscroll {
  top: 200px;
  right: 0;
  height: 100vh;
  position: fixed;
}
.topcontainer {
  margin-left: 100px;
  margin-top: 100px;
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
}
.img-cont {
  min-height: 400px;
  background: url(one.jpg);
  height: 100px;
  background-size: cover;
  background-position: center;
  padding: 3rem;
  box-shadow: var(--shadow);
}
.img-cont img {
  position: relative;
  height: 100%;
}
.listeditem {
  padding: 11px;

  color: rgb(56, 56, 56);
  background: rgb(255, 255, 255);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}

.listeditem p {
  font-size: 15px;
}
.coldesign {
  background: #fff;

  box-shadow: var(--shadow);
}
.colone {
  display: grid;
  grid-gap: -10px;
  grid-template-columns: 1fr 1fr;
}
.coldesign i {
  font-size: 40px;

  text-align: center;
  top: 20px;
}
.coldesign:hover {
  box-shadow: 0px 0px 30px -16px rgba(0, 0, 0, 1);
}
.favcircle {
  padding: 50px;
  box-sizing: border-box;
  width: 130px;
  height: 130px;

  border-radius: 50%;
  background: white;
  box-shadow: 0px 0px 24px -16px rgba(0, 0, 0, 1);
  margin-top: 10px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.favcircle:hover {
  background: rgb(255, 36, 36);
  color: #fff;
  box-shadow: 0px 0px 24px -8px rgba(0, 0, 0, 1);
  transition: 0.2s ease-in-out;
}
.fav {
  text-align: center;
}
.threecols {
  margin-top: 4%;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* strip of red */
.strip {
  color: white;
  margin-top: 4%;
  width: 100%;
  height: 100px;
  background: rgb(255, 36, 36);
}
.stripcont {
  padding: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 1%;
  text-align: center;
}
.stripcont h6 {
  font-size: 15px;
}
.heading {
  margin-left: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  display: grid;
  grid-gap: -10px;
  grid-template-columns: 1fr 2fr;
}
.heading h6 {
  text-transform: uppercase;
  font-weight: bold;
}
.boxcols {
  padding-left: 20%;
  box-sizing: border-box;
}

.coltwo {
  position: relative;

  display: flex;
  flex-direction: column;
}
.boxcols li {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 10px 20px;
}
.boxcols li:hover {
  background: rgb(247, 247, 247);
}

footer {
  background: #fff;
  margin-top: 3%;
  display: grid;
  justify-content: center;
  align-items: initial;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.contact li {
  padding: 10px;
}
